parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    ignoreErrors:
            - '#Property App\\Entity\\.*::\$id \(int\|null\) is never assigned int#'
