{% extends 'base.html.twig' %}

{% block title %}Détail d'un produit{% endblock %}

{% block container %}

    <div class="card text-center mb-3">
        <img class="card-img-top" src="http://placehold.it/1107x400" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">{{ produit.nom }}</h3>
            <p class="card-text">{{ produit.description }}</p>
        </div>
        <div class="card-footer">
            <a href="{{ path('produits_index') }}" class="btn btn-warning" title="Liste des produits"><i class="fa fa-angle-left"></i> Liste des produits</a>
            {{ include("produit/_form.html.twig") }}
        </div>
    </div>
{% endblock %}
